@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.active {
  background-color: #ffebf5;
  border-color: #c586a5;
}

input,
textarea,
select {
  border: 1px solid #c2c2c2;
  outline-color: #c586a5;
  border-radius: 3px;
}